.hero-about a{
    display: none;
}
.hero-about{
    height: 70vh;
}

.about-us{
    width: 100%;
    height: auto;
    padding: 10vh 10vw;
}

.about-us h1{
    margin: 5vh 0 3vh 0;
}
.about-us p{
    line-height: 1.5rem;
    font-weight: 500;
}